{# articles/listArticle.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
  {{ error.get() | raw }}
  <header>
    {{ include('header/header.html.twig') }}
  </header>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Author</th>
        {# <th scope="col">Edit</th>
        <th scope="col">Delete</th> #}

      </tr>
    </thead>
    <tbody>
      {% for article in listInfo %}
      <tr>
        <th scope="row">{{article.id}}</th>
        <td>{{article.title}}</td>
        <td>{{article.content}}</td>
        <td>{{article.author}}</td>
        {% if user_group != "USER" %}
        <td>Edit</td>
        <td>Delete ?</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
   </table>
{% endblock %}