{# users/userPanel.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    {{ error.get() | raw }}
    <header>
        {{ include('header/header.html.twig') }}
    </header>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Group</th>
            </tr>
        </thead>
        <tbody>
            {% for user in userInfo %}
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.user_group}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for user in userInfo %}
        <form action="/{{ base }}users/editUsers" name="sentMessage" id="contactForm" method="post" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Username</label>
              <input type="text" class="form-control" placeholder={{user.username}} id="name" name="username" required
                 data-validation-required-message="Please enter your name.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Email Address</label>
              <input type="email" class="form-control" placeholder={{user.email}} id="email" name="email"
                required data-validation-required-message="Please enter your email address.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          {% endfor %}
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password" id="password" name="password"
               required data-validation-required-message="Please enter your password.">
              <p class="help-block text-danger"></p>
            </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Password confirmation</label>
              <input type="password" class="form-control" placeholder="Password confirmation" id="passwordVerify" name="passwordVerify"
               required data-validation-required-message="Please confirm your password.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-secondary" id="sendMessageButton">Edit Profile</button>
          </div>
        </form>
        <a title="Redirection to login" href="/PHP_Rush_MVC/auth/login">Login Page</a>
      </div>
    </div>
  </div>
{% endblock %}